{
  "Servers": {
    "1": {
      "Name": "finance-dw",
      "Group": "Servers",
      "Host": "db",
      "Port": 5432,
      "MaintenanceDB": "finance_dw",
      "Username": "your_username",
      "SSLMode": "prefer",
      "Password": "your_password"
    }
  }
}